apiVersion: v1
kind: Namespace
metadata:
  name: calculator-app
---
# ===========================
# Frontend Deployment
# ===========================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculator-deployment
  namespace: calculator-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: calculator
  template:
    metadata:
      labels:
        app: calculator
    spec:
      containers:
        - name: calculator
          image: harivenkatasaiduluk/calculator-frontend:latest
          ports:
            - containerPort: 80
---
# ===========================
# Frontend Service
# ===========================
apiVersion: v1
kind: Service
metadata:
  name: calculator-service
  namespace: calculator-app
spec:
  type: NodePort
  selector:
    app: calculator
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
