name: Docker Frontend CI (Multi-Arch)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multi-arch frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./calculator
          file: ./calculator/frontend.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: harivenkatasaiduluk/calculator-frontend:latest
